extends layouts.pug
block css
  link(rel='stylesheet' href='/assets/css/style.css')
block contents
  #about.container
    h1.display-4 About
    p#about.lead HighFlow is a website for coding bootcamp project #2 that brings together dispensaries and growers in the reliable marijuana community for both medical and recreational purposes. The local dispensaries have timesaving and legal way of finding a list of the growers. Both dispensaries and growers have their own profiles registered on the website. The database technology will help the dispensaries to match the specific products as their needs and to contact the accredited growers easily based on their locations and offers.
    h1.display-4 Our Developers
    .container
      #card.row
        .col-md-3.col-sm-6.portfolio-item
          .card.h-100
            a(href='https://github.com/yangmeeso') 
              img.card-img-top(src='/assets/images/meeso.jpg')
            .card-body
              h4.card-title Meeso
        .col-md-3.col-sm-6.portfolio-item
          .card.h-100
            a(href='https://github.com/jMac029')
              img.card-img-top(src='/assets/images/james.jpg')
            .card-body
              h4.card-title James
        .col-md-3.col-sm-6.portfolio-item
          .card.h-100
            a(href='https://github.com/lcalderon123')
              img.card-img-top(src='/assets/images/lea.jpg')
            .card-body
              h4.card-title Lea
