extends layouts.pug
block css
  link(rel='stylesheet' href='/assets/css/about.css')
block contents
  .jumbotron.jumbotron-fluid
    h1.display-4 Our Mission..
    p.lead As the movement to end marijuana prohibition extends beyond a handful of states, we are commited to standing at the forefront to provide people crucial networking connections to help expand their business.
    h1.display-4 Our Developers
    .container
      .row
        .col-md-3.col-sm-6.portfolio-item
          .card.h-100
            a(href='https://github.com/yangmeeso') 
              img.card-img-top(src='/assets/images/meeso.jpg')
            .card-body
              h4.card-title Meeso
        .col-md-3.col-sm-6.portfolio-item
          .card.h-100
            a(href='https://github.com/jMac029')
              img.card-img-top(src='/assets/images/james.jpg')
            .card-body
              h4.card-title James
        .col-md-3.col-sm-6.portfolio-item
          .card.h-100
            a(href='https://github.com/lcalderon123')
              img.card-img-top(src='/assets/images/lea.jpg')
            .card-body
              h4.card-title Lea
