extends layouts.pug
block css
  link(rel='stylesheet' href='/assets/css/about.css')
block nav
  nav.navbar.fixed-top.navbar-expand-lg
    a.navbar-brand(href='/') HighFlow
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.navbar-collapse.collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/main')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/featured') Featured
        li.nav-item
          a.nav-link(href='/about') About
block contents
  .jumbotron.jumbotron-fluid
    h1.display-4 Our Mission..
    p.lead

