doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(href='css/animate.min.css' rel='stylesheet')
  link(href='css/bootstrap-dropdownhover.min.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Monoton|Shrikhand" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet")
  
  link(rel='stylesheet' href='/assets/css/main.css')

  title HighFlow
  
  //navbar
  nav.navbar.fixed-top.navbar-expand-lg
    a.navbar-brand(href='layouts.pug') HighFlow
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.navbar-collapse.collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='layouts.pug')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Featured
        li.nav-item
          a.nav-link(href='#') About
      ul.navbar-nav
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Search
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='/growers') Growers
            a.dropdown-item(href='/dispensaries') Dispensaries
       
          
body



//footer   
nav.navbar.bottom.navbar.bg
  a.navbar-brand(href='#') 
  p.m-0.text-center.text-white &copy; HighFlow 2018