extends layouts
block css
    link(rel='stylesheet' href='/assets/css/join.css')
block contents
  .jumbotron
    div
    span#high High
    span#flow Flow
    p.lead
    | Join the largest network of licensed Marijuna growers and distributors in Southern California
    p.lead
    | Locations available in Orange, San Diego and LA Counties
    p.lead
    button.btn.btn-primary#signup-modal(type='button' data-toggle='modal' data-target='#modal1') Join

    #modal1.modal.fade(tabindex='-1' role='dialog' aria-labelledby='userType' aria-hidden='true')
        .modal-dialog(role='document')
        .modal-content
            .modal-header
            h5#userType.modal-title Sign-Up!
            label#instruction(for='instruction')
                span(aria-hidden='true') 
            .modal-body
                form.typeuser
                    .form-group
                    label(for='userTypeLabel') Please select user type:
                    select#userTypeOptions.form-control
                        option Select
                        option Grower
                        option Dispenser
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#userTypeBttn.btn.btn-primary(type='submit') Continue
                form.grower-form(action='/api/growers', method='post')
                    .form-group
                        label.form-control-label(for='grower-username') Username:
                        input#grower-name.form-control(type='text' placeholder='Ex) jsmith ** No Space ** ' name='username')
                        label.form-control-label(for='grower-name') Business Name:
                        input#grower-name.form-control(type='text' placeholder='Ex) Leafly' name='businessname')
                        label.form-control-label(for='grower_license') License ID:
                        input#grower-license.form-control(type='text' placeholder='Ex) M00-00-0000000-TEMP' name='grower_license')
                        label.form-control-label(for='grower-city') City:
                        input#grower-city.form-control(type='text' placeholder='Ex) Los Angeles' name='grower_city')
                        .form-group
                        label(for='grower-state') State:
                        select#grower-state.form-control(type='state' name='grower_state')
                            option Select
                            option Alabama
                            option Arizona
                            option Arkansas
                            option California
                            option Colorado
                            option Connecticut
                            option Delaware
                            option Florida
                            option Georgia
                            option Hawaii
                            option Idaho
                            option Illinois
                            option Indiana
                            option Lowa
                            option Kentucky
                            option Louisiana
                            option Maine
                            option Maryland
                            option Massachusetts
                            option Michigan
                            option Minnesota
                            option Michigan
                            option Missouri
                            option Montana
                            option Nevada
                            option New Hampshire
                            option New Jersey
                            option New Mexico
                            option New York
                            option North Dekota
                            option Ohio
                            option Oregon
                            option Rhode Island
                            option Tennessee
                            option Texas
                            option Utah
                            option Washington
                            option West Virginia
                            option Wisconsin

                        label.form-control-label(for='grower-email') Email:
                        input#grower-email.form-control(type='email' placeholder='Ex) highflow@example.com' name='grower_email')
                    .form-group
                        label.form-control-label(for='grower-system') What growing system do you have?
                        .form-check
                            input#system-option.form-check-input(type='radio' name='grower_system' value='option1' checked='')
                            label#system-option.form-check-label(for='hydroponic')
                                | Hydroponic or Closed System
                        .form-check
                            input#system-option.form-check-input(type='radio' name='grower_system' value='option2')
                            label#system-option.form-check-label(for='greenhouse')
                                | Greenhouse (Indoor Grow Room)
                        .form-check
                            input#system-option.form-check-input(type='radio' name='grower_system' value='option3')
                            label#system-option.form-check-label(for='outdoor')
                                | Outdoor
                    .form-group        
                        label.form-control-label(for='grower-strains') Strains:
                        input#grower-strains.form-control(type='text' placeholder='Ex) Sd or Sour Diesel' name='grower_strains')
                        label.form-control-label(for='grower-cycle') Cycle:
                        input#grower-cycle.form-control(type='text' placeholder='Ex) 3 Months' name='grower_cycle')
                        label.form-control-label(for='grower-about') About:
                        input#dispenser-bio.form-control(type='text' placeholder='Please give us a brief descriptionn of you' name='grower_about')  
                        label.form-control-label(for='grower-web') Web Page:
                        input#grower-bio.form-control(type='text' placeholder='Ex) https://www.leafly.com/' name='web')
                        label.form-control-label(for='grower-img') Profile Image URL:
                        input#grower-bio.form-control(type='text' placeholder='Ex) cdn.image...png' name='grower_img')
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button#growerBttn.btn.btn-primary(type='submit') Submit
                form.dispenser-form(action='/api/dispensers', method='post')
                    .form-group
                        label.form-control-label(for='dispenser-username') Username:
                        input#grower-name.form-control(type='text' placeholder='* No Space * Ex) jsmith' name='username')
                        label.form-control-label(for='dispenser-name') Business Name:
                        input#dispenser-name.form-control(type='text' placeholder='Ex) Leafly' name='businessname')
                        label.form-control-label(for='dispenser-license') License ID:
                        input#dispenser-license.form-control(type='text' placeholder='Ex) M00-00-0000000-TEMP' name='dispenser_license')
                        label.form-control-label(for='dispenser-city') City:
                        input#dispenser-city.form-control(type='text' placeholder='Ex) Sacramento' name='dispenser_city')
                        .form-group
                        label(for='dispenser-state') State:
                        select#grower-state.form-control(type='state' name='dispenser_state')
                            option Select
                            option Alabama
                            option Arizona
                            option Arkansas
                            option California
                            option Colorado
                            option Connecticut
                            option Delaware
                            option Florida
                            option Georgia
                            option Hawaii
                            option Idaho
                            option Illinois
                            option Indiana
                            option Lowa
                            option Kentucky
                            option Louisiana
                            option Maine
                            option Maryland
                            option Massachusetts
                            option Michigan
                            option Minnesota
                            option Michigan
                            option Missouri
                            option Montana
                            option Nevada
                            option New Hampshire
                            option New Jersey
                            option New Mexico
                            option New York
                            option North Dekota
                            option Ohio
                            option Oregon
                            option Rhode Island
                            option Tennessee
                            option Texas
                            option Utah
                            option Washington
                            option West Virginia
                            option Wisconsin

                        label.form-control-label(for='dispenser-email') Email:
                        input#dispenser-email.form-control(type='email' placeholder='Ex) highflow@example.com' name='dispenser_email')
                        label.form-control-label(for='dispenser-about') About:
                        input#dispenser-bio.form-control(type='text' placeholder='Please give us a brief descriptionn of you' name='dispenser_about')           
                        label.form-control-label(for='dispenser-strains') Strains Wanted:
                        input#dispenser-strains-wanted.form-control(type='text' placeholder='Ex) Cp or Cherry Pie' name='dispenser_strains')
                        label.form-control-label(for='dispenser-web') Web Page:
                        input#grower-bio.form-control(type='text' placeholder='Ex) https://www.leafly.com/' name='dispenser_web')
                        label.form-control-label(for='dispenser-img') Profile Image URL:
                        input#grower-bio.form-control(type='text' placeholder='Ex) cdn.image...png' name='dispenser_img')
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button#dispenserBttn.btn.btn-primary(type='submit') Submit

    block scripts
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')

        //- Javascript for Modals
        script(src='/assets/js/join.js')
        //- script(src='/assets/js/grower.js')
        

  