extends layouts

block contents
  .jumbotron
    div
    span#high High
    span#flow Flow
    p.lead
    | Join the largest network of licensed Marijuna growers and distributors in Southern California
    hr.my-4
    p
    | Locations available in Orange, San Diego and LA Counties
    p.lead
    button.btn.btn-primary#signup-modal(type='button' data-toggle='modal' data-target='#modal1') Join

    #modal1.modal.fade(tabindex='-1' role='dialog' aria-labelledby='userType' aria-hidden='true')
        .modal-dialog(role='document')
        .modal-content
            .modal-header
            h5#userType.modal-title Sign-Up!
                span(aria-hidden='true') &times;
            .modal-body
                form.typeuser
                    .form-group
                    label(for='userTypeLabel') Please select user type:
                    select#userTypeOptions.form-control
                        option Select
                        option Grower
                        option Dispenser
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#userTypeBttn.btn.btn-primary(type='submit') Continue
                form.grower-form(action='/api/growers', method='post')
                    .form-group
                        label.form-control-label(for='grower-name') Name:
                        input#grower-name.form-control(type='text' name='username')
                        label.form-control-label(for='grower-license') License ID:
                        input#grower-license.form-control(type='text' name='grower_license')
                        label.form-control-label(for='grower-city') City:
                        input#grower-city.form-control(type='text' name='grower_city')
                        label.form-control-label(for='grower-state') State:
                        input#grower-state.form-control(type='state' placeholder='CA' name='grower_state')
                        label.form-control-label(for='grower-email') Email:
                        input#grower-email.form-control(type='email' placeholder='highflow@example.com' name='grower_email')
                        label.form-control-label(for='grower-bio') Bio:
                        input#grower-bio.form-control(type='text' name='grower_bio')
                    .form-group
                        label(for='grower-indoor') Indoor:
                        select#grower_indoor.form-control
                            option Select              
                            option Yes
                            option No
                    .form-group        
                        label.form-control-label(for='grower-strains') Strains:
                        input#grower-strains.form-control(type='text' name='grower_strains')
                        label.form-control-label(for='grower-cycle') Cycle:
                        input#grower-cycle.form-control(type='text' name='grower_cycle')
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button#growerBttn.btn.btn-primary(type='submit') Submit
                form.dispenser-form(action='/join', method='post')
                    .form-group
                        label.form-control-label(for='dispenser-name') Name:
                        input#dispenser-name.form-control(type='text' name='username')
                        label.form-control-label(for='dispenser-license') License ID:
                        input#dispenser-license.form-control(type='text')
                        label.form-control-label(for='dispenser-city') City:
                        input#dispenser-city.form-control(type='text' )
                        label.form-control-label(for='dispenser-state') State:
                        input#dispenser-state.form-control(type='text' placeholder='CA')
                        label.form-control-label(for='dispenser-email') Email:
                        input#dispenser-email.form-control(type='email' placeholder='highflow@example.com')
                        label.form-control-label(for='dispenser-bio') Bio:
                        input#dispenser-bio.form-control(type='text')           
                        label.form-control-label(for='dispenser-strains') Strains Wanted:
                        input#dispenser-strains-wanted.form-control(type='text')
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Submit
            

        //-#modal2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='joinForGrower' aria-hidden='true')
        //- .modal-dialog(role='document')
        //-   .modal-content
        //-     .modal-header
        //-       h5#growerForm.modal-title Sign-Up!
        //-       button.close(type='button' data-dismiss='modal' aria-label='Close')
        //-         span(aria-hidden='true') &times;
        //-     .modal-body
                
            

        //-   //#modal3.modal.fade(tabindex='-1' role='dialog' aria-labelledby='joinForDispenser' aria-hidden='true')
        //-   .modal-dialog(role='document')
        //-     .modal-content
        //-       .modal-header
        //-         h5#dispenserForm.modal-title Sign-Up!
        //-         button.close(type='button' data-dismiss='modal' aria-label='Close')
        //-           span(aria-hidden='true') &times;
        //-       .modal-body
                

        //-       .modal-footer

    //- block contents

    //-   form.form.text-center#high(action='/join', method='post')
    //-     label.text-center Please enter your name:
    //-       input.namecard-name(type='text', name='username' placeholder='name')
    //-     button.btn.btn-secondary.btn-lg.submit(type='submit') Submit

    block scripts
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')

        //- Javascript for Modals
        script(src='/assets/js/join.js')
        //- script(src='/assets/js/grower.js')
        

  