doctype html
head
  block title
    title HighFlow
    //- Links for Bootstraps, CSS and Google Fonts
  block links
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(href=href="https://fonts.googleapis.com/css?family=Contrail+One|PT+Sans+Narrow|Sedgwick+Ave+Display" rel="stylesheet")
  block css
    link(rel='stylesheet' href='/assets/css/style.css')
    //- Links for Favicon
  block favicon
    link(rel="shortcut icon" href="/assets/images/favicon/highflow.ico" type="image/x-icon")
    link(rel="icon" href="/assets/images/favicon/highflow.ico" type="image/x-icon")

block nav
  nav.navbar.navbar-expand-lg
    a.navbar-brand(href='/')
      img#logo.logo(src='/assets/images/logo.png' alt='logo')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/about') About
            span.sr-only (currnet)
        if name
          li.nav-item
            a.nav-link(href='/growers') Growers
          li.nav-item
            a.nav-link(href='/dispensaries') Dispensaries
      ul.navbar-nav
        if !name
          li.nav-item
            a.nav-link(href="/join") Join
        else
          li.nav-item
            a.nav-link(href="/profile/"+name)= business_name

block contents
  .jumbotron
  .container

block scripts
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
block footer  
  nav.navbar.fixed-bottom.navbar.bg
    a.navbar-brand(href='#') 
    p.m-0 &copy; HighFlow 2018
   

