extends layouts
block css
  link(rel='stylesheet' href='/assets/css/main.css')
block nav
  nav.navbar.fixed-top.navbar-expand-lg
    a.navbar-brand(href='/') HighFlow
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.navbar-collapse.collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/main')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/featured') Featured
        li.nav-item
          a.nav-link(href='/about') About
block contents 
  .jumbotron
    div
      span#high High
      span#flow Flow
    h2.lead Begin your search to expand your network today
  .wrapper
    a(href='/growers') 
        button.btn.btn-secondary.btn-lg(type='button') Growers   
    a(href='/dispensaries') 
        button.btn.btn-secondary.btn-lg(type='button') Dispensaries
  h1.my-4 Meet our newest members..
  .container
    .row
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='https://www.happynhealthysolutions.com/') 
            img.card-img-top(src='/assets/images/dis1.jpg')
          .card-body
            h4.card-title Happy & Healthy Solutions
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='http://www.buddyboyfarm.com/')
            img.card-img-top(src='/assets/images/grower2.jpg')
          .card-body
            h4.card-title Buddy Boy Farms
      .col-lg-4.col-sm-6.portfolio-item
        .card.h-100
          a(href='http://budandbloomoc.com/')
            img.card-img-top(src='/assets/images/dis2.jpg')
          .card-body
            h4.card-title Bud & Bloom




