extends layouts
block css
  link(rel='stylesheet' href='/assets/css/style.css')

block contents 
  .jumbotron#mainJumbo
    div
      img#mainimg.logo(src='/assets/images/logo2.png' alt='logo')
      br
      span#mainlogo HighFlow
    h2.lead Begin your search to expand your network today
  .wrapper
    a(href='/growers') 
        button.btn.btn-secondary.btn-lg(type='button') Growers   
    a(href='/dispensaries') 
        button.btn.btn-secondary.btn-lg(type='button') Dispensaries
  h1.my-4 Meet our newest growers..
  .container
    .row
      for grower in dbGrower
        .col-lg-4.col-sm-6.portfolio-item
          .card.mainCards.h-100#grower.id
            a(href= grower.webpage) 
              img.card-img-top(src=grower.image)
            .card-body
              h4.card-title#maincard= grower.grower_name