.jumbotron {
    width: 80%;
    height: 550px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    text-align: center;
    background: linear-gradient(#0e130f, #40853b);
    font-family: 'Courgette', cursive;
    box-shadow: 3px 3px 3px 4px #1b1b17;
    vertical-align: middle;
    margin: 0 auto;
    padding: 20px;
}

.navbar.navbar-expand-lg {
    background-color: #1b1b17;
    box-shadow: 0 0 3px 4px #1b1b17;
    font-family: 'Courgette', cursive;
    margin-bottom: 50px;
}

a {
    color: #fff;
    font-family: 'Courgette', cursive;
}

a:hover {
    color: #3f8a4a;
}

a.btn {
    background-color: #3a3a2d;
    color: #c0c0b2;
    box-shadow: 0 0 2px 1px #24572c;
}

.display-4 {
    font-family: 'Shrikhand', cursive;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: left;
    font-size: 30px;
    margin-bottom: 25px;
}

body {
    background-image: url('../images/green10.jpg');
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar.fixed-bottom.navbar.bg {
    background-color: #1b1b17;
    box-shadow: 0 0 3px 4px #1b1b17;
    font-family: 'Courgette', cursive;
}

.lead {
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.col-md-3.col-sm-6.portfolio-item {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    width: 100%;
    margin-left: 60px;
}

img {
    width: 100%;
    height: 180px;
}

#logo {
    width: 100%;
    max-width: 40px;
    max-height: 40px;
    }

.card-title {
    height: 20px;
}