.jumbotron {
    width: 80%;
    height: 590px;
    overflow: auto;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background: linear-gradient(#0e130f, #40853b);
    font-family: 'Courgette', cursive;
    box-shadow: 3px 3px 3px 4px #1b1b17;
    vertical-align: middle;
    margin: 0 auto;
    padding: 10px;
}

.display-4 {
    text-align: left;
    font-size: 30px;
    padding: 10px;
    color: #ffffff;
}

.navbar.navbar-expand-lg {
    background-color: #1b1b17;
    box-shadow: 0 0 3px 4px #1b1b17;
    font-family: 'Courgette', cursive;
    margin-bottom: 20px;
}

a {
    color: #fff;
    font-family: 'Courgette', cursive;
}

a:hover {
    color: #3f8a4a;
}

a.btn {
    background-color: #3a3a2d;
    color: #c0c0b2;
    box-shadow: 0 0 2px 1px #24572c;
}

.weblink {
    color: #3f8a4a;
}

h1 {
    font-family: 'Shrikhand', cursive;
    color: #c0c0b2;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: left;
    font-size: 20px;
}

body {
    background-image: url('../images/green10.jpg');
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar.fixed-bottom.navbar.bg {
    background-color: #1b1b17;
    box-shadow: 0 0 3px 4px #1b1b17;
    font-family: 'Courgette', cursive;
}

.card {
    flex: 1;
    width: 80%;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-left: 100px;
    border: 2px solid #73AD21;
    border-radius: 25px;
}

img {
    width: 300px;
    height: 200px;
    margin-left: 10px;
}

#logo {
    width: 100%;
    max-width: 40px;
    max-height: 40px;
}

.btn.btn-info.btn-lg {
    background-color: #3a3a2d;
}

button:active {
    background-color: #73AD21;
    border-color: #73AD21;
}

.card-header {
    background-color: #73AD21;
}

.card-header:first-child {
    border-radius: 20px;
}